<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>smsnotifier</name>
            <displayName><![CDATA[ارسال پیامک]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[ارسال پیامک در وضعیت های گوناگون برای مدیر و مشتری]]></description>
            <author><![CDATA[Www.PrestaTools.Ir]]></author>
            <tab><![CDATA[]]></tab>
	<confirmUninstall>ماژول ارسال پیامک حذف می شود، ادامه می دهید؟</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>